{% extends "layout.html" %}
{% block content %}
<form action="/crashes/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Day_of_Week">Day of Week</label>
            <input id="Day_of_Week" type="text" class="form-control" placeholder="Day of Week" name="Day_of_Week">
        </div>
        <div class="col">
            <label for="Number_of_Crashes">Number of Crashes</label>
            <input id="Number_of_Crashes" type="text" class="form-control" placeholder="Number of Crashes"
                   name="Number_of_Crashes">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Create</button>

</form>

{% endblock %}